.product-item {
  text-decoration: line-through;
  font-size: 20px;
  font-weight: normal;
  color: rgb(59, 65, 60);
  cursor: pointer;
}

.del-btn {
  border: none;
  background-color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  color: rgb(59, 65, 60);
  margin-left: 15px;
}